.container {
  display: flex;
  flex-direction: column;
  background-color: var(--greyF4);
}

.container > p {
  margin: 0;
  align-self: center;
  margin-bottom: 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--greyC4);
  color: var(--white);
}

.title {
  font-family: 'SF-Bold';
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;

}

.timer > div {
  font-family: 'SF-Light';
  font-size: 64px;
  margin-right: 25px;
}

.timer > button {
  font-size: 14px;
}

.timer > button > svg {
  height: 30px;
  width: 30px;
}

.buttonsWrap {
  display: flex;
  align-self: center;
  margin-bottom: 35px;
}

.buttonsWrap > button:not(:last-child) {
  margin-right: 10px;
}

.buttonsWrap > button {
  padding: 15px 35px !important;
}

@media all and (min-width: 1540px) {
  .container {
    display: flex;
    flex-direction: column;
    background-color: var(--greyF4);
  }

  .container > p {
    margin: 0;
    align-self: center;
    margin-bottom: 32px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: var(--greyC4);
    color: var(--white);
  }

  .title {
    font-family: 'SF-Bold';
  }

  .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

  }

  .timer > div {
    font-family: 'SF-Light';
    font-size: 150px;
    margin-right: 25px;
  }

  .timer > button {
    font-size: 34px;
  }

  .timer > button:hover > svg circle {
    fill: var(--greenDark);
  }

  .buttonsWrap {
    align-self: center;
    margin-bottom: 70px;
  }

  .buttonsWrap > button {
    margin-right: 20px;
  }
}
